<h6 class="muted">
    Before you upload student data, please remember that any individual student data you upload will be accessible not only to you, but also to others who have been identified by your data administrator as authorized to view education records covered by the Family Educational Rights and Privacy Act (FERPA).
</h6>