<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="FederationMetadataLocation" value="https://[ENTER ACS NAMESPACE HERE].accesscontrol.windows.net/FederationMetadata/2007-06/FederationMetadata.xml"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <system.web>
    <sessionState mode="Custom" customProvider="AFCacheSessionStateProvider" xdt:Transform="Replace">
      <providers>
        <add name="AFCacheSessionStateProvider" type="Microsoft.Web.DistributedCache.DistributedCacheSessionStateStoreProvider, Microsoft.Web.DistributedCache" cacheName="session" dataCacheClientName="default" applicationName="/" />
      </providers>
    </sessionState>
  </system.web>
  <system.webServer>
    <staticContent xdt:Transform="Insert">
      <remove fileExtension=".js" />
      <remove fileExtension=".woff" />
      <mimeMap mimeType="text/javascript" fileExtension=".js" />
      <mimeMap fileExtension=".woff" mimeType="application/x-woff" />
      <clientCache cacheControlCustom="public" cacheControlMaxAge="14.00:00:00" cacheControlMode="UseMaxAge" />
    </staticContent>
  </system.webServer>
  <system.identityModel>
    <identityConfiguration>
      <audienceUris xdt:Transform="Replace">
        <add value="http://[ENTER AZURE CLOUD SERVICE STAGING DEPLOYMENT DNS NAME].cloudapp.net/" />
        <add value="https://[ENTER AZURE CLOUD SERVICE STAGING DEPLOYMENT DNS NAME].cloudapp.net/" />
      </audienceUris>
    </identityConfiguration>
  </system.identityModel>
  <system.identityModel.services>
    <federationConfiguration>
      <wsFederation issuer="https://[ENTER ACS NAMESPACE HERE].accesscontrol.windows.net/v2/wsfederation" realm="http://[ENTER AZURE CLOUD SERVICE STAGING DEPLOYMENT DNS NAME].cloudapp.net/" xdt:Transform="SetAttributes(issuer,realm)" />
    </federationConfiguration>
  </system.identityModel.services>
</configuration>