@{
    Layout = "~/Views/Shared/_SingleColumnLayout.cshtml";
    ViewBag.IsStatic = true;
    ViewBag.Title = "About";
}
@section Title{
    @ViewBag.Title
}

<img class="content-image img-polaroid" src="~/Content/images/about.jpg"/>
<p><em><strong>The Student Success Dashboard is a web-based tool that connects different types of student-level data across multiple systems to support the practice of continuous improvement on the ground as well as evaluation and research.</strong></em> The Dashboard enables the integration of student-level demographic and academic data with services and support data from learning partners who serve students both in and out of school. The tool can help spotlight places where schools and community partners can invest resources to have the most impact on student success.</p>
<br />
<br />
<br />
<br />
<h5>Key Features</h5>
<ul class="checklist">
    <li><i class="icon-ok"></i> Built around a school district and fully customizable to your community &ndash; your schools, partners, and data categories</li>
    <li><i class="icon-ok"></i> Enables integration of student-level demographic and academic data with services and support data from learning partners who serve students both in and out of school</li>
    <li><i class="icon-ok"></i> Provides the opportunity to analyze and better understand the overall impact of outside of school service providers on student learning</li>
    <li><i class="icon-ok"></i> Spotlights places where schools and community partners can invest resources to have the most impact on student success</li>
</ul>
<br />
<h5>Key Functionalities</h5>
<ul class="checklist">
    <li><i class="icon-ok"></i> Manage information about community partners, programs, and services</li>
    <li><i class="icon-ok"></i> Search and filter to find students in the system</li>
    <li><i class="icon-ok"></i> Create and assign service requests to students</li>
    <li><i class="icon-ok"></i> Assign service offerings to students</li>
    <li><i class="icon-ok"></i> Track and manage attendance in programs and services</li>
    <li><i class="icon-ok"></i> Create and manage custom data fields for students</li>
    <li><i class="icon-ok"></i> View and export all student level data</li>
    <li><i class="icon-ok"></i> Manage user roles (data admin, site admin, and partner)</li>
    <li><i class="icon-ok"></i> Built in compliance with FERPA related to data sharing with partners</li>
</ul>
<br />
<h5>Users and Beneficiaries</h5>
<p>The Student Success Dashboard helps teachers, service providers, principals, site coordinators, and other community leaders make more data-informed decisions around how to best serve students. This comprehensive data management system also provides valuable information for funders and district leaders to inform higher level, systemic change.</p>