@model SSD.ViewModels.ServiceAttendanceModel
<form id="form-addedit">
    @Html.HiddenFor(m => m.Id)
    <ul class="form">
        <li class="clearfix">Are you sure you want to delete this service attendance?</li>
    </ul>
</form>
