@model SSD.ViewModels.MultiUserActivationModel
<form id="form-activateUsers">
    <ul class="form">
        <li id="SelectedUserIds" class="clearfix">Are you sure you wish to @Model.ActivationString the selected user account(s)?</li>
    </ul>
</form>